@use 'base/variables' as v;
@use 'base/mixins' as m;

.meeti {
    background-color: lighten(v.$grisClaro, 4%);
    padding: 5rem 2rem;

    &__heading {
        @include m.heading;
    }

    &__grid {
        margin-top: 5rem;
        @include m.grid(1, 2rem);
        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
    }

    &__contenido {
        
        @include m.tablet { 
            grid-column: 1 / 3;
        }
    }
}