@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {

    &__imagen {
        width: 100%;
        object-fit: cover;
    }
    &__contenido {
        background-color: v.$secundario;
        padding: 2rem;
        text-align: center;
        color: v.$blanco;
    }
    &__heading {
        margin: 0;
        font-family: v.$fuentePrincipal;
        font-size: 3.2rem;
    }
    &__texto {
        color: v.$blanco;
    }
    &__label {
        font-weight: 700;
    }
}